<%- include('partials/header') %>

<!-- Spinner Start -->
<div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Carregando...</span>
    </div>
</div>
<!-- Spinner End -->

<%- include('partials/nav') %>

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center bg-primary">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords"
                        aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="btn bg-light border nput-group-text p-3"><i
                            class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">About Us</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">About</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid about pt-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-content h-100">
                    <h4 class="text-primary">Sobre nosso centro Fitness</h4>
                    <h1 class="display-4 text-white mb-4">Nós somos os melhores em achar o seu potencial e buscá-lo.
                    </h1>
                    <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In impedit accusantium
                        autem quaerat natus nesciunt veritatis fugiat dolor eaque fuga.</p>
                    <div class="tab-class pb-4">
                        <ul class="nav d-flex mb-2">
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2 active" data-bs-toggle="pill" href="#tab-1">
                                    <span style="width: 150px;">Nossa missão</span>
                                </a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2 mx-3" data-bs-toggle="pill" href="#tab-2">
                                    <span style="width: 150px;">Nossa visão</span>
                                </a>
                            </li>
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2" data-bs-toggle="pill" href="#tab-3">
                                    <span style="width: 150px;">Nosso objetivo</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade show p-0 active">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center border-top border-bottom py-4">
                                            <span class="fas fa-rocket text-white fa-4x me-4"></span>
                                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard
                                                dummy text ever since the 1500s, when an unknown printer took a
                                                galley of type and scrambled it to make a type specimen book. It has
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane fade show p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center border-top border-bottom py-4">
                                            <span class="fas fa-rocket text-white fa-4x me-4"></span>
                                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard
                                                dummy text ever since the 1500s, when an unknown printer took a
                                                galley of type and scrambled it to make a type specimen book. It has
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane fade show p-0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center border-top border-bottom py-4">
                                            <span class="fas fa-rocket text-white fa-4x me-4"></span>
                                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard
                                                dummy text ever since the 1500s, when an unknown printer took a
                                                galley of type and scrambled it to make a type specimen book. It has
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 align-items-center">
                        <div class="col-sm-6">
                            <a href="#" class="btn btn-primary py-3 px-5"> <span>Marque uma consulta</span></a>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex flex-shrink-0 ps-4">
                                <a href="#" class="btn btn-light btn-lg-square position-relative wow tada"
                                    data-wow-delay=".9s">
                                    <i class="fa fa-phone-alt fa-2x"></i>
                                    <div class="position-absolute" style="top: 5px; right: 5px;">
                                        <span><i class="fa fa-comment-dots text-dark"></i></span>
                                    </div>
                                </a>
                                <div class="d-flex flex-column ms-3">
                                    <span>Fale com um especialista</span>
                                    <a href="tel:+ 0123 456 7890"><span class="text-white">85 91234 1234</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-img h-100">
                    <div class="about-img-inner d-flex h-100">
                        <img src="img/about-2.png" class="img-fluid w-100" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Fitness Goal start -->
<div class="container-fluid goal pt-5">
    <div class="container pt-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="goal-content">
                    <h4 class="text-primary">Objetivo de Fitness</h4>
                    <h1 class="display-4 mb-4">Complete suas possibilidades, alcance seus objetivos de fitness.</h1>
                    <div class="goal-item d-flex p-4">
                        <div class="d-flex me-4">
                            <div class="bg-primary d-inline p-3" style="width: 80px; height: 80px;">
                                <img src="img/icon-1.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div>
                            <h4>Treinamento de Fitness Gratuito</h4>
                            <p class="text-white mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Tempore est harum</p>
                        </div>
                    </div>
                    <div class="goal-item d-flex p-4 mb-4">
                        <div class="d-flex me-4">
                            <div class="bg-primary d-inline p-3" style="width: 80px; height: 80px;">
                                <img src="img/icon-6.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div>
                            <h4>Cardio e Força</h4>
                            <p class="text-white mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Tempore est harum</p>
                        </div>
                    </div>
                    <div class="ms-1">
                        <a href="#" class="btn btn-primary py-3 px-5 ms-2"> <span>Leia os Detalhes</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="h-100">
                    <img src="img/fitness-goal-banner.png" class="img-fluid h-100" style="object-fit: cover;"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fitness Goal End -->

<!-- Features Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary"> Por que nos escolher?</h4>
            <h1 class="display-4 mb-4">Confira nossos destaques abaixo</h1>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis
                cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt
                sint dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="feature-carousel owl-carousel">
            <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-img">
                    <img src="img/feature-1.jpg" class="img-fluid w-100" alt="">
                </div>
                <div class="feature-content p-4">
                    <h4 class="mb-3">Trabalhe Seu Corpo</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur obcaecati
                        voluptatum,
                    </p>
                    <a href="#" class="btn btn-primary py-2 px-4"> <span>Leia Mais</span></a>
                </div>
            </div>
            <div class="feature-item wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-img">
                    <img src="img/feature-2.jpg" class="img-fluid w-100" alt="">
                </div>
                <div class="feature-content p-4">
                    <h4 class="mb-3">Entre no Ritmo</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur obcaecati
                        voluptatum,
                    </p>
                    <a href="#" class="btn btn-primary py-2 px-4"> <span>Leia Mais</span></a>
                </div>
            </div>
            <div class="feature-item wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-img">
                    <img src="img/feature-3.jpg" class="img-fluid w-100" alt="">
                </div>
                <div class="feature-content p-4">
                    <h4 class="mb-3">É Mais do Que Um Jogo</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur obcaecati
                        voluptatum,
                    </p>
                    <a href="#" class="btn btn-primary py-2 px-4"> <span>Leia Mais</span></a>
                </div>
            </div>
            <div class="feature-item">
                <div class="feature-img">
                    <img src="img/feature-4.jpg" class="img-fluid w-100" alt="">
                </div>
                <div class="feature-content p-4">
                    <h4 class="mb-3">Fique em Forma, Não Pare</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur obcaecati
                        voluptatum,
                    </p>
                    <a href="#" class="btn btn-primary py-2 px-4"> <span>Leia Mais</span></a>
                </div>
            </div>
        </div>
        <div class="feature-shaps"></div>
    </div>
</div>
<!-- Features End -->

<!-- Explore Fitness Start -->
<div class="container-fluid explore py-5 wow zoomIn" data-wow-delay="0.2s">
    <div class="container py-5 text-center">
        <h1 class="display-1 text-white mb-0"> Explore o Centro de Fitness</h1>
        <a class="btn btn-primary py-3 px-4 px-md-5 me-2" href="https://www.youtube.com/embed/DWRcNpR6Kdc"><i
                class="fas fa-play-circle me-2"></i> <span>Assistir Vídeo</span></a>
    </div>
</div>
<!-- Explore Fitness End -->

<!-- Team Start -->
<div class="container-fluid team py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Nosso Time</h4>
            <h1 class="display-4 mb-4">Conheça Nossa Equipe Incrível</h1>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis
                cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt
                sint dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>
        <div class="row gy-5 gy-lg-4 gx-4">
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-1.jpg" class="img-fluid w-100" alt="Image">
                        <div class="team-icon">
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h4>João Silva</h4>
                        <p class="mb-0">Treinador de Força e Condicionamento</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-2.jpg" class="img-fluid w-100" alt="Image">
                        <div class="team-icon">
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h4>Ana Costa</h4>
                        <p class="mb-0">Especialista em Nutrição e Bem-estar</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-3.jpg" class="img-fluid w-100" alt="Image">
                        <div class="team-icon">
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h4>Pedro Lima</h4>
                        <p class="mb-0">Instrutor de Cardio e Flexibilidade</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-4.jpg" class="img-fluid w-100" alt="Image">
                        <div class="team-icon">
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content">
                        <h4>Mariana Souza</h4>
                        <p class="mb-0">Treinadora de Yoga e Meditação</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
    
<%- include('partials/footer') %>